<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lion Dance Beat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        
    </style>
    <body>
        <div class="logo">
            {% with name="logo" %}
                {% include "/parts/image.jinja" %}
            {% endwith %}
        </div>
        <div class="title">
            <h1>The New Lion Dance Beat. Vol {{volume}} No {{number}}</h1>
        </div>
        <div class="date">
            <p>{{date}}</p>
        </div>
        <div class="upcoming-events">
        <ul>
            {% for event in events_list %}
                {% include "/parts/event.jinja" %}
            {% endfor %}
        </ul>
        </div>

    </body>
</html>