<li class="event">
    <a href="{{event["link"]}}" target="_blank">
        {{event["summary"]}}
    </a> <br>
    Date: {{event["date"]}} <br>
    {% if event["status"] %}
        Status: Confirmed
    {% else %}
        Status: Needs Action
    {% endif %}
</li>