<li class="event" style="margin: 2%">
    <a href="{{event["link"]}}" target="_blank" style="font-weight: bold; color: #ff0f0f">
        {{event["summary"]}}
    </a> <br>
    Date: {{event["date"]}} <br>
    {% if event["status"] %}
        Status: Confirmed
    {% else %}
        Status: Needs Action
    {% endif %}
</li>