<a href="https://drive.google.com/uc?export=view&id={{images[name]}}">
    <img src="https://drive.google.com/uc?export=view&id={{images[name]}}"
    style="width: 500px; max-width: 100%; height: auto"
    alt="{{name}}" />
</a>