<li class="news">
    <h5 style="font-weight: bold; color: #c42e38; margin-bottom: 0px">
        {{news["title"]}}
    </h5>
    <p style="font-weight: normal; font-size: 80%; margin-top:2%">
        {{news["content"]}}
    </p>
</li>