<li class="news">
    <h4 style="font-weight: bold; color: #c42e38; margin-bottom: 0px">
        {{news["title"]}}
    </h4>
    <p style="font-weight: normal; margin-top:2%">
        {{news["content"]}}
    </p>
</li>