<li class="news">
    <h3 style="font-weight: bold; color: #c42e38; margin-bottom: 0px">
        {{news["title"]}}
    </h3>
    {% if news["image"] != "None" %}
        <div>
            {% with name=news["image"] %} 
                {% include "/parts/image.jinja" %} 
            {% endwith %}
        </div>
    {% endif %}
    <p style="font-weight: normal; margin-top:2%; font-size: 120%">
        {{news["content"]}}
    </p>
</li>